<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="index.hbs">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="dali.hbs">Salvador Dalí</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="picass.hbs">Picasso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="velaz.hbs">Velásquez</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="monet.hbs" tabindex="-1" aria-disabled="true">Monet</a>
            </li>
        </ul>
    </div>
</div>
</div>