{{> header}}
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Pintores Famosos</h5>
        <p class="card-text">Pinturas Magistrales</p>
    </div>
</div>

{{> navbar}}

<div class="card bg-dark text-white">
    <img src="../images/fondo.jpg" class="card-img" >
    <div class="card-img-overlay">
    </div>
</div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Pintura</h5>
            <p class="card-text">Cuando hablamos de pintura o de artes pictóricas nos referimos a una forma artística que busca representar la realidad gráficamente, empleando para ello formas y colores sobre una superficie, a partir de pigmentos naturales y sintéticos mezclados con sustancias aglutinantes (pinturas).</p>
            <p class="card-text">En ese sentido, la pintura echa mano conceptualmente al dibujo, la teoría del color y la composición pictórica, así como a la perspectiva y a otros conocimientos que atañen a la visión y a la física de la luz.</p>
            <p class="card-text">Se trata de una de las Bellas Artes de la humanidad, junto con la literatura, la escultura, la música, la danza, la arquitectura, el cine, la fotografía y la historieta. Y es probablemente una de las más antiguas que se conocen.</p>
            <p class="card-text">Imprimiendo el color y la textura sobre un lienzo de papel, tela o cualquier otra superficie lisa que lo permita (una pared, un trozo de madera, etc.), la pintura representa las características de la luz a través de una diversidad de técnicas, más o menos figurativas (es decir, más o menos abstractas en su representación).</p>
            <p class="card-text">Dichas técnicas, además, han evolucionado históricamente y se han adentrado en las nuevas técnicas digitales y virtuales, como el videoarte o el arte digital. Las obras de los grandes pintores de la historia se preservan en museos e iglesias y forman parte del acervo histórico y artístico de las naciones, así como un patrimonio espiritual de la humanidad.</p>

        </div>
    </div>

{{> footer}}
